.App {
  width: 100%; }
  .App .root {
    width: "100%"; }
  .App .flex {
    flex: 1; }
  .App .menuButton {
    margin-left: -12;
    margin-right: 20; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
